<%- include("partials/header") %> 

<div class="row">
	<div class="col-12">
		<div style="max-width: 300px; margin:25px auto">
			<h1 class="text-center text-danger font-weight-bold mb-4">Sign Up</h1>
		<div>
		<form action="/register" method="POST">
		<div class="form-group">
			<label for="userName">Username:</label>
			<input type="text" id="userName" required class="form-control" name="username" placeholder="username">
        </div>
		<div class="form-group">
			<label for="password">Password:</label>
			<input type="password" id="password" required class="form-control" name="password" placeholder="password">
        </div>
		<div class="form-group">
			<label for="email">Email:</label>
		   <input type="email" id="email" required class="form-control" name="email" placeholder="your email address">
        </div>
		<div class="form-group">
			<label for="adminCode">Admin code</label>
			<input class="form-control" id="adminCode" type="text" name="adminCode" 
				   placeholder="for administrators only" >
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-info btn-block" value="Sign Up">
        </div>
		</form>
		</div>
		</div>
		
    </div>
</div>



<%- include("partials/footer") %> 