<%- include("partials/header") %> 

<div class="row">
	<div class="col-12">
		<div class="card" id="neat">
		<div class="card-body">
			<form action="/reset/<%= token %>" method="POST">
		  <legend class="text-center text-danger font-weight-bold">Reset Password</legend>
		  <div class="form-group">
		    <label for="password">New Password</label>
			  <div class="input-group">
			  <div class="input-group-prepend">
				<span class="input-group-text"><i class="fas fa-lock"></i></span>
			  </div>
			   <input id="password" type="password" name="password" value="" 
				   placeholder="New password" autofocus="autofocus" class="form-control"/>
			   </div>
		  </div>
		  <div class="form-group">
		    <label for="confirm">Confirm Password</label>
			 <div class="input-group">
			  <div class="input-group-prepend">
				<span class="input-group-text"><i class="fas fa-lock"></i></span>
			  </div>
			   <input id="confirm" type="password" name="confirm" value="" placeholder="Confirm password" 
				   class="form-control"/>
			</div>
		   
		  </div>
		  <div class="form-group">
		    <button type="submit" class="btn btn-primary btn-danger">Update Password</button>
		  </div>
		</form>
		</div>	
		
		</div>
		</div>
    </div>



<%- include("partials/footer") %> 