<%- include("../partials/header") %>
  
<div class="img-thumbnail">
	<h4 class="px-2 my-2">About FeastOn</h4>
	<hr>
	<div class="row">
       <div class="col-md-5">
		   <div class="my-2 px-3">   
    <img id="img" src="https://source.unsplash.com/3Vr4qQvQn34" alt="user profile image" class="card-img">
		   </div>
		</div>
		<div class="col-md-7">
			<div class="mx-3">
				<h5>How it began:</h5>
			<p class="lead text-justify">
				Cooking and baking has always been something I am passionate about since I was little. Food is one of the best gifts of life and it should be savoured. Here at <strong>FeastOn</strong>you get to feast on delicious and sumptuous meals that leaves your mouth watery and thirsty for more. 
			</p>
			<p class="lead font-italic">
				Our delicacies ranges from different cuisines as well as indigenous African meals. Ensure to order for your <span class="font-weight-bold">FeastOn</span> meal today and feast like a King and Queen that you are <i class="far fa-kiss-wink-heart"></i>
			</p>
			<p class="lead">
				To place your orders, please check the contact option on the menu and select your preferred option
			</p>
			</div>
		</div>
	</div>
	
</div>


<%- include("../partials/footer") %>